* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box; }

@media (min-width: 360px) {
  li {
    list-style: none; }
  body {
    background-color: #adbabb; }
  .titulo-principal {
    width: 100%;
    height: 100px; }
    .titulo-principal div {
      display: flex;
      justify-content: center;
      align-items: start;
      flex-wrap: wrap;
      width: 100%;
      height: 100px;
      background-color: #991818; }
    .titulo-principal h1 {
      color: white; }
    .titulo-principal .dic {
      width: 100%;
      height: 20px;
      background-color: #e4cbcb; }
  .icons {
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; }
  h2 {
    text-align: center;
    line-height: 20px;
    font-size: 30px;
    text-align: center;
    line-height: 3;
    font-size: 40px;
    -webkit-text-stroke: medium;
    text-decoration-line: underline; }
  .cards {
    height: auto;
    background-color: #fffefe;
    margin-top: 40px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "sec1 sec2" "sec3 sec4"; }
    .cards .sec1 {
      grid-area: sec1;
      border: 1px solid #020202; }
    .cards .sec2 {
      grid-area: sec2;
      border: 1px solid #020202; }
    .cards .sec3 {
      grid-area: sec3;
      border: 1px solid #020202; }
    .cards .sec4 {
      grid-area: sec4;
      border: 1px solid #020202; }
    .cards div {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .cards div .precios {
        width: 161px;
        height: auto; }
        .cards div .precios p:first-child {
          color: #858585;
          text-decoration-line: line-through; }
        .cards div .precios p:nth-child(2) {
          color: #5b51e9; }
        .cards div .precios p:nth-child(3) {
          font-size: 30px;
          color: black; }
        .cards div .precios p:nth-child(4) {
          width: 110px;
          background-color: aqua; }
        .cards div .precios p:nth-child(5) {
          color: #5b51e9;
          font-size: 14px; } }

@media (min-width: 768px) {
  .titulo-principal {
    width: 100%;
    height: 100px; }
    .titulo-principal div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: none;
      width: 100%;
      height: auto;
      background-color: #b81e1e; }
      .titulo-principal div h1 {
        color: black; } }
